---
layout: default
title: Notícias
---
<ul class="news">
    <li>
        <div class="icon"><i class="fa fa-rss fa-fw"></i></div>
        <div class="text">
        <div class="date"></div>
        <div class="date"></div>
        <a href="{{ site.base }}/news/news.xml"> Notícias via Feed RSS</a>
        </div>
    </li>
{% for post in paginator.posts %}
    <li>
        <div class="icon"><i class="fa fa-{{ post.category }} fa-fw"></i></div>
        <div class="text">
        <div class="date">{{ post.date | date: '%d/%m/%Y' }}</div>
        <a href="{{ post.url }}">{{ post.title }}</a>
        {{ post.excerpt }}
        </div>
    </li>
{% endfor %}
</ul>
<nav class="text-center">
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li><a href="{{  paginator.previous_page_path }}">
        <span>&laquo; Anteriores</span></a>
    </li>
    {% else %}
    <li class="disabled"><a href="#">
        <span>&laquo; Anteriores</span></a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li><a href="{{  paginator.next_page_path }}">
        <span>Recentes &raquo;</span></a>
    </li>
    {% else %}
    <li class="disabled"><a href="#">
        <span>Recentes &raquo;</span></a>
    </li>
    {% endif %}
  </ul>
</nav>
