---
layout: default
title: Calendário
---

<div class="embed-responsive embed-responsive-16by9" style="text-align:center">
  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=9okthruhornkr9qfbpljbdcabmrg0l3d%40import.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FBelem" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<br><i style="text-align:center;color:#bbb;" class="fa fa-calendar fa-fw center"></i> <a href="https://gitlab.com/laai/website/raw/master/laai.ics">Importar calendário (ICS)</a>
