---
layout: default
---
<p class="meta">{{ page.date | date_to_string }}, por <a href="/people/{{ page.author | sanitize_filename }}">{{ page.author }}</a></p>
<br>
<div class="post">
{{ page.content }}
</div>
